default:
    suites:
        default:
            contexts:
                - PomodoroTests\Acceptance\Behat\AuthContext
                - PomodoroTests\Acceptance\Behat\ActivityInventoryContext
                - PomodoroTests\Acceptance\Behat\DemoContext
                - PomodoroTests\Acceptance\Behat\EmailContext
                - PomodoroTests\Acceptance\Behat\RegistrationContext
                - PomodoroTests\Acceptance\Behat\ScheduleContext
                - PomodoroTests\Acceptance\Behat\TasksContext
                - PomodoroTests\Acceptance\Behat\WorkerContext

    extensions:
       FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
            kernel:
                class: Symfony5\Kernel
